BarTenderEtiketak/Connected Services/ServiceReference1/EtiquetadoApi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://cms.sammic.com:8080/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="EtiquetadoApi" targetNamespace="http://cms.sammic.com:8080/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cms.sammic.com:8080/">
      <xsd:complexType name="EtiquetadoBean">
        <xsd:sequence>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="revision" type="xsd:string" />
          <xsd:element name="aprobadoImD" type="xsd:string" />
          <xsd:element name="aprobadoCom" type="xsd:string" />
          <xsd:element name="nombre_es" type="xsd:string" />
          <xsd:element name="nombre_en" type="xsd:string" />
          <xsd:element name="claveModelo" type="xsd:string" />
          <xsd:element name="potencia" type="xsd:string" />
          <xsd:element name="frecuencia" type="xsd:string" />
          <xsd:element name="tension1" type="xsd:string" />
          <xsd:element name="tension2" type="xsd:string" />
          <xsd:element name="tension3" type="xsd:string" />
          <xsd:element name="tensionDC" type="xsd:string" />
          <xsd:element name="fase1" type="xsd:string" />
          <xsd:element name="fase2" type="xsd:string" />
          <xsd:element name="fase3" type="xsd:string" />
          <xsd:element name="intensidad1" type="xsd:string" />
          <xsd:element name="intensidad2" type="xsd:string" />
          <xsd:element name="intensidad3" type="xsd:string" />
          <xsd:element name="intensidadDC" type="xsd:string" />
          <xsd:element name="potMaxima" type="xsd:string" />
          <xsd:element name="potMotor" type="xsd:string" />
          <xsd:element name="potCalderin" type="xsd:string" />
          <xsd:element name="potCuba" type="xsd:string" />
          <xsd:element name="presionBar" type="xsd:string" />
          <xsd:element name="pVac" type="xsd:string" />
          <xsd:element name="iP" type="xsd:string" />
          <xsd:element name="caudalBomba" type="xsd:string" />
          <xsd:element name="clAislamiento" type="xsd:string" />
          <xsd:element name="condensador" type="xsd:string" />
          <xsd:element name="especificaciones1" type="xsd:string" />
          <xsd:element name="etiketaMota" type="xsd:string" />
          <xsd:element name="etiketaFormato" type="xsd:string" />
          <xsd:element name="etiketak" type="xsd:string" />
          <xsd:element name="etiketaOrriak" type="xsd:string" />
          <xsd:element name="etiketaGarantia" type="xsd:string" />
          <xsd:element name="bezeroRef1" type="xsd:string" />
          <xsd:element name="bezeroRef2" type="xsd:string" />
          <xsd:element name="directivas" type="xsd:string" />
          <xsd:element name="normas1" type="xsd:string" />
          <xsd:element name="normas2" type="xsd:string" />
          <xsd:element name="normas3" type="xsd:string" />
          <xsd:element name="notasPlaca" type="xsd:string" />
          <xsd:element name="formatoLaser" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="EtiquetadoBeanElement" type="tns:EtiquetadoBean" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="api_getSpecsEtiquetadoRequest">
    <wsdl:part name="codigo" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="api_getSpecsEtiquetadoResponse">
    <wsdl:part name="result" type="tns:EtiquetadoBean" />
  </wsdl:message>
  <wsdl:portType name="EtiquetadoApiPortType">
    <wsdl:operation name="api_getSpecsEtiquetado" parameterOrder="codigo">
      <wsdl:input message="tns:api_getSpecsEtiquetadoRequest" />
      <wsdl:output message="tns:api_getSpecsEtiquetadoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EtiquetadoApiBinding" type="tns:EtiquetadoApiPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="api_getSpecsEtiquetado">
      <soap:operation soapAction="http://cms.sammic.com:8080/api_getSpecsEtiquetado" style="rpc" />
      <wsdl:input>
        <soap:body use="literal" namespace="http://cms.sammic.com:8080/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="codigo" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://cms.sammic.com:8080/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" parts="result" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EtiquetadoApiService">
    <wsdl:port name="EtiquetadoApiPort" binding="tns:EtiquetadoApiBinding">
      <soap:address location="http://cms.sammic.com:8080/EtiquetadoApi.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>